:root {

  // HUE
  --color-hue-blue:             202;
  --color-hue-green:            119;
  
  --color-hue-neutral:          0;
  --color-hue-link:             var(--color-hue-blue);
  --color-hue-accent:           var(--color-hue-green);


  // SATURATION
  --color-saturation-neutral:   0%;
  --color-saturation-default:   100%;


  // HSL COMBOS
  --color-hs-neutral:                       var(--color-hue-neutral) var(--color-saturation-neutral);
  --color-hsl-black:                        var(--color-hs-neutral) 0%;
  --color-hsl-white:                        var(--color-hs-neutral) 100%;
  --color-hsl-accent-on-light:              var(--color-hue-accent) var(--color-saturation-default) 21%;
  --color-hsl-accent-on-dark:               var(--color-hue-accent) var(--color-saturation-default) 35%;


  // FUNCTIONS
  --color-link-on-light:                    hsl(var(--color-hue-link) var(--color-saturation-default) 35%);
  --color-link-on-dark:                     hsl(var(--color-hue-link) var(--color-saturation-default) 50%);

  --color-accent-on-light:                  hsl(var(--color-hsl-accent-on-light));
  --color-accent-on-dark:                   hsl(var(--color-hsl-accent-on-dark));

  --color-accent:                           var(--color-accent-on-light);


  // ELEMENT TYPES
  --color-bg-light:                         hsl(var(--color-hs-neutral) 95%);
  --color-bg-light-highlight:               hsl(var(--color-hs-neutral) 100%);

  --color-bg-dark:                          hsl(var(--color-hs-neutral) 15%);
  --color-bg-dark-highlight:                hsl(var(--color-hs-neutral) 5%);

  --color-bg-accent-on-light:               hsl(var(--color-hue-accent) var(--color-saturation-default) 25%);
  --color-bg-accent-on-light-highlight:     hsl(var(--color-hue-accent) var(--color-saturation-default) 30%);
  --color-bg-accent-on-dark:                hsl(var(--color-hue-accent) var(--color-saturation-default) 30%);
  --color-bg-accent-on-dark-highlight:      hsl(var(--color-hue-accent) var(--color-saturation-default) 35%);


  --color-text-dark-on-light:               hsl(var(--color-hs-neutral) 25%);
  --color-text-dark-on-light-emphasis:      hsl(var(--color-hs-neutral) 5%);
  --color-text-dark-on-light-deemphasis:    hsl(var(--color-hs-neutral) 40%);

  --color-text-light-on-dark:               hsl(var(--color-hs-neutral) 75%);
  --color-text-light-on-dark-emphasis:      hsl(var(--color-hs-neutral) 95%);
  --color-text-light-on-dark-deemphasis:    hsl(var(--color-hs-neutral) 55%);

  --color-text-link-on-light:               var(--color-link-on-light);
  --color-text-link-on-dark:                var(--color-link-on-dark);

  --color-text-accent-on-light:             var(--color-accent-on-light);
  --color-text-accent-on-dark:              var(--color-accent-on-dark);
  


  --color-line-dark-on-light:               hsla(var(--color-hsl-black) / 35%);
  --color-line-dark-on-light-emphasis:      hsla(var(--color-hsl-black) / 75%);
  --color-line-dark-on-light-deemphasis:    hsla(var(--color-hsl-black) / 15%);

  --color-line-light-on-dark:               hsla(var(--color-hsl-white) / 35%);
  --color-line-light-on-dark-emphasis:      hsla(var(--color-hsl-white) / 60%);
  --color-line-light-on-dark-deemphasis:    hsla(var(--color-hsl-white) / 20%);

  --color-line-accent-on-light:             hsla(var(--color-hsl-accent-on-light) / 100%);
  --color-line-accent-on-dark-light:        hsla(var(--color-hsl-accent-on-dark) / 100%);

  

  /*  */


  --color-bg:                         var(--color-bg-light);
  --color-bg-highlight:               var(--color-bg-light-highlight);
  --color-bg-accent:                  var(--color-bg-accent-on-light);
  --color-bg-accent-highlight:        var(--color-bg-accent-on-light-highlight);


  --color-text:                       var(--color-text-dark-on-light);
  --color-text-secondary-default:     var(--color-text-dark-on-light-deemphasis);
  --color-text-link:                  var(--color-text-link-on-light);
  --color-text-accent:                var(--color-text-accent-on-light);


  --color-line:                       var(--color-line-dark-on-light);
  --color-line-emphasis:              var(--color-line-dark-on-light-emphasis);
  --color-line-deemphasis:            var(--color-line-dark-on-light-deemphasis);
  --color-line-accent:                var(--color-line-accent-on-light);
  

}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg:                       var(--color-bg-light);
    --color-bg-highlight:             var(--color-bg-light-highlight);
    --color-bg-accent:                var(--color-bg-accent-on-light);
    --color-bg-accent-highlight:      var(--color-bg-accent-on-light-highlight);


    --color-text:                     var(--color-text-dark-on-light);
    --color-text-secondary-default:   var(--color-text-dark-on-light-deemphasis);


    --color-line:                     var(--color-line-dark-on-light);
    --color-line-emphasis:            var(--color-line-dark-on-light-emphasis);
    --color-line-deemphasis:          var(--color-line-dark-on-light-deemphasis);



    --color-bg-button:                var(--color-bg-accent-on-light);
    --color-bg-button-hover:          var(--color-bg-accent-on-light-highlight);
    --color-text-button:              hsla(var(--color-hsl-white) / 95%);



    --color-bg-form-field:              var(--color-bg-light-highlight);
    --color-text-form-field:            var(--color-text-dark-on-light);
    --color-border-form-field:          var(--color-line-dark-on-light);
  }
}


@media (prefers-color-scheme: dark) {
  :root {

    --color-bg:                       var(--color-bg-dark);
    --color-bg-highlight:             var(--color-bg-dark-highlight);
    --color-bg-accent:                var(--color-bg-accent-on-dark);
    --color-bg-accent-highlight:      var(--color-bg-accent-on-dark-highlight);
    

    --color-text:                     var(--color-text-light-on-dark);
    --color-text-secondary-default:   var(--color-text-light-on-dark-deemphasis);
    --color-text-link:                var(--color-text-link-on-dark);
    --color-text-accent:              var(--color-text-accent-on-dark);


    --color-line:                     var(--color-line-light-on-dark);
    --color-line-emphasis:            var(--color-line-light-on-dark-emphasis);
    --color-line-deemphasis:          var(--color-line-light-on-dark-deemphasis);
    --color-line-accent:              var(--color-line-accent-on-dark);

  }
}

:root {

  // ELEMENTS

  // --color-bg-button:                  var(--color-bg-accent-on-light);
  // --color-bg-button-hover:            var(--color-bg-accent-on-light-highlight);
  // --color-text-button:                hsla(var(--color-hsl-white) / 95%);

  // --color-bg-form-field:              var(--color-bg-light-highlight);
  // --color-text-form-field:            var(--color-text-dark-on-light);
  // --color-border-form-field:          var(--color-line-dark-on-light);


  --color-bg-button:                  var(--color-bg-accent);
  --color-bg-button-hover:            var(--color-bg-accent-highlight);
  --color-text-button:                var(--color-text-light-on-dark-emphasis);

  --color-bg-form-field:              var(--color-bg-highlight);
  --color-text-form-field:            var(--color-text);
  --color-border-form-field:          var(--color-line);
}