:root {

  // HUE
  --color-hue-blue:             202;
  --color-hue-green:            119;
  
  --color-hue-neutral:          0;
  --color-hue-link:             var(--color-hue-blue);
  --color-hue-accent:           var(--color-hue-green);


  // SATURATION
  --color-saturation-neutral:   0%;
  --color-saturation-default:   100%;


  // HSL COMBOS
  --color-hs-neutral:                       var(--color-hue-neutral) var(--color-saturation-neutral);
  --color-hsl-black:                        var(--color-hs-neutral) 0%;
  --color-hsl-white:                        var(--color-hs-neutral) 100%;
  --color-hsl-accent-on-light-text:         var(--color-hue-accent) var(--color-saturation-default) 21%;
  --color-hsl-accent-on-light-graphic:      var(--color-hue-accent) var(--color-saturation-default) 30%;
  --color-hsl-accent-on-light:              var(--color-hsl-accent-on-light-text);
  --color-hsl-accent-on-dark:               var(--color-hue-accent) var(--color-saturation-default) 35%;


  // FUNCTIONS
  --color-link-on-light:                    hsl(var(--color-hue-link) var(--color-saturation-default) 35%);
  --color-link-on-dark:                     hsl(var(--color-hue-link) var(--color-saturation-default) 50%);

  --color-accent-on-light:                  hsl(var(--color-hsl-accent-on-light));
  --color-accent-on-dark:                   hsl(var(--color-hsl-accent-on-dark));

  --color-accent-on-light-graphic:          hsl(var(--color-hsl-accent-on-light-graphic));
  --color-accent-on-dark-graphic:           hsl(var(--color-hsl-accent-on-dark));

  --color-accent:                           var(--color-accent-on-light);
  --color-accent-graphic:                   var(--color-accent-on-light-graphic);


  // ELEMENT TYPES
  --color-bg-light:                         hsl(var(--color-hs-neutral) 95%);
  --color-bg-light-highlight:               hsl(var(--color-hs-neutral) 100%);  /* TODO: Use variable for lightness */
  --color-bg-light-deemphasis:              hsl(var(--color-hs-neutral) 90%); /* TODO: Use variable for lightness */
  // --color-bg-light-gradient-highlight-start:var(--color-bg-light-highlight); 
  // --color-bg-light-gradient-highlight-end:  hsl(var(--color-hs-neutral) 85%); /* TODO: Use variable for lightness */
  --color-bg-hover-on-light:              hsla(0 0% 0% / 15%);/* TODO: Use Variable */

  --color-bg-header-light:                  hsla(var(--color-hs-neutral) 90% / 0.8); /* TODO: Use variable for lightness and alpha */
  --color-bg-nav-menu-light:                hsla(var(--color-hs-neutral) 100% / 0.8); /* TODO: Use variable for lightness and alpha */
  --color-bg-nav-menu-light-gradient-start: hsla(var(--color-hs-neutral) 100% / 0.95);
  --color-bg-nav-menu-light-gradient-end:   hsla(var(--color-hs-neutral) 85% / 0.95);
  --color-bg-nav-menu-light-gradient-blur-start: hsla(var(--color-hs-neutral) 100% / 0.8);
  --color-bg-nav-menu-light-gradient-blur-end:   hsla(var(--color-hs-neutral) 85% / 0.8);

  --color-bg-dark:                          hsl(var(--color-hs-neutral) 15%);
  --color-bg-dark-highlight:                hsl(var(--color-hs-neutral) 5%);
  --color-bg-dark-deemphasis:               hsl(var(--color-hs-neutral) 10%); /* TODO: Use variable for lightness */
  // --color-bg-dark-gradient-highlight-start: hsl(var(--color-hs-neutral) 20%); /* TODO: Use variable for lightness */
  // --color-bg-dark-gradient-highlight-end:   hsl(var(--color-hs-neutral) 10%); /* TODO: Use variable for lightness */
  --color-bg-hover-on-dark:                 hsla(0 0% 100% / 20%); /* TODO: Use Variable */

  --color-bg-header-dark:                   hsla(var(--color-hs-neutral) 10% / 0.8); /* TODO: Use variable for lightness */
  --color-bg-nav-menu-dark:                 hsla(var(--color-hs-neutral) 10% / 0.8); /* TODO: Use variable for lightness and alpha */
  --color-bg-nav-menu-dark-gradient-start:  hsla(var(--color-hs-neutral) 20% / 0.95); /* TODO: Use variable for lightness and alpha */
  --color-bg-nav-menu-dark-gradient-end:    hsla(var(--color-hs-neutral) 10% / 0.95); /* TODO: Use variable for lightness and alpha */
  --color-bg-nav-menu-dark-gradient-blur-start:  hsla(var(--color-hs-neutral) 20% / 0.8); /* TODO: Use variable for lightness and alpha */
  --color-bg-nav-menu-dark-gradient-blur-end:    hsla(var(--color-hs-neutral) 10% / 0.8); /* TODO: Use variable for lightness and alpha */

  --color-bg-accent-on-light:               hsl(var(--color-hue-accent) var(--color-saturation-default) 30%);
  --color-bg-accent-on-light-highlight:     hsl(var(--color-hue-accent) var(--color-saturation-default) 33%);
  --color-bg-accent-on-dark:                hsl(var(--color-hue-accent) var(--color-saturation-default) 30%);
  --color-bg-accent-on-dark-highlight:      hsl(var(--color-hue-accent) var(--color-saturation-default) 33%);


  --color-text-dark-on-light:               hsl(var(--color-hs-neutral) 25%);
  --color-text-dark-on-light-emphasis:      hsl(var(--color-hs-neutral) 5%);
  --color-text-dark-on-light-deemphasis:    hsl(var(--color-hs-neutral) 40%);

  --color-text-light-on-dark:               hsl(var(--color-hs-neutral) 75%);
  --color-text-light-on-dark-emphasis:      hsl(var(--color-hs-neutral) 95%);
  --color-text-light-on-dark-deemphasis:    hsl(var(--color-hs-neutral) 55%);

  --color-text-link-on-light:               var(--color-link-on-light);
  --color-text-link-on-dark:                var(--color-link-on-dark);

  --color-text-accent-on-light:             var(--color-accent-on-light);
  --color-text-accent-on-dark:              var(--color-accent-on-dark);
  


  --color-line-dark-on-light:                      hsla(var(--color-hsl-black) / 35%);
  --color-line-dark-on-light-emphasis:             hsla(var(--color-hsl-black) / 75%);
  --color-line-dark-on-light-deemphasis:           hsla(var(--color-hsl-black) / 15%);

  --color-line-dark-on-light-opaque:               hsl(var(--color-hs-neutral) 61%);
  --color-line-dark-on-light-emphasis-opaque:      hsl(var(--color-hs-neutral) 24%);
  --color-line-dark-on-light-deemphasis-opaque:    hsl(var(--color-hs-neutral) 81%);

  --color-line-light-on-dark:                      hsla(var(--color-hsl-white) / 35%);
  --color-line-light-on-dark-emphasis:             hsla(var(--color-hsl-white) / 60%);
  --color-line-light-on-dark-deemphasis:           hsla(var(--color-hsl-white) / 20%);

  --color-line-light-on-dark-opaque:               hsl(var(--color-hs-neutral) 45%);
  --color-line-light-on-dark-emphasis-opaque:      hsl(var(--color-hs-neutral) 66%);
  --color-line-light-on-dark-deemphasis-opaque:    hsl(var(--color-hs-neutral) 31%);

  --color-line-accent-on-light:                    hsla(var(--color-hsl-accent-on-light) / 100%);
  --color-line-accent-on-dark-light:               hsla(var(--color-hsl-accent-on-dark) / 100%);

  --color-line-accent-on-light-opaque:             hsl(var(--color-hs-neutral) 100%);
  --color-line-accent-on-dark-light-opaque:        hsl(var(--color-hs-neutral) 0%);

  

  /*  */


  --color-bg:                             var(--color-bg-light);
  --color-bg-highlight:                   var(--color-bg-light-highlight);
  --color-bg-accent:                      var(--color-bg-accent-on-light);
  --color-bg-accent-highlight:            var(--color-bg-accent-on-light-highlight);
  --color-bg-deemphasis:                  var(--color-bg-light-deemphasis);
  --color-bg-hover:                       var(--color-bg-hover-on-light);

  --color-bg-header:                      var(--color-bg-header-light);
  --color-bg-nav-menu:                    var(--color-bg-nav-menu-light);
  --color-bg-nav-menu-gradient-start:     var(--color-bg-nav-menu-light-gradient-start);
  --color-bg-nav-menu-gradient-end:       var(--color-bg-nav-menu-light-gradient-end);

  @supports (backdrop-filter: blur(1px)) {
    --color-bg-nav-menu-gradient-start:     var(--color-bg-nav-menu-light-gradient-blur-start);
    --color-bg-nav-menu-gradient-end:       var(--color-bg-nav-menu-light-gradient-blur-end);    
  }


  --color-text:                           var(--color-text-dark-on-light);
  --color-text-highlight:                 var(--color-text-dark-on-light-emphasis);
  --color-text-deemphasis:                var(--color-text-dark-on-light-deemphasis);
  --color-text-link:                      var(--color-text-link-on-light);
  --color-text-accent:                    var(--color-text-accent-on-light);


  --color-line:                           var(--color-line-dark-on-light);
  --color-line-emphasis:                  var(--color-line-dark-on-light-emphasis);
  --color-line-deemphasis:                var(--color-line-dark-on-light-deemphasis);
  --color-line-accent:                    var(--color-line-accent-on-light);


  --color-line-opaque:                    var(--color-line-dark-on-light-opaque);
  --color-line-emphasis-opaque:           var(--color-line-dark-on-light-emphasis-opaque);
  --color-line-deemphasis-opaque:         var(--color-line-dark-on-light-deemphasis-opaque);
  
  --color-shadow:                         hsla(0 0% 0% / 0.2);

}

/*
@media (prefers-color-scheme: light) {
  :root {
    --color-bg:                           var(--color-bg-light);
    --color-bg-highlight:                 var(--color-bg-light-highlight);
    --color-bg-accent:                    var(--color-bg-accent-on-light);
    --color-bg-accent-highlight:          var(--color-bg-accent-on-light-highlight);
    --color-bg-deemphasis:                var(--color-bg-light-deemphasis);

    --color-bg-header:                    var(--color-bg-header-light);
    --color-bg-nav-menu:                  var(--color-bg-nav-menu-light);
    --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-light-gradient-start);
    --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-light-gradient-end);

    @supports (backdrop-filter: blur(1px)) {
      --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-light-gradient-blur-start);
      --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-light-gradient-blur-end);
    }


    --color-text:                         var(--color-text-dark-on-light);
    --color-text-highlight:               var(--color-text-dark-on-light-emphasis);
    --color-text-secondary-default:       var(--color-text-dark-on-light-deemphasis);
    --color-text-link:                    var(--color-text-link-on-light);
    --color-text-accent:                  var(--color-text-accent-on-light);


    --color-line:                         var(--color-line-dark-on-light);
    --color-line-emphasis:                var(--color-line-dark-on-light-emphasis);
    --color-line-deemphasis:              var(--color-line-dark-on-light-deemphasis);


    --color-line-opaque:                  var(--color-line-dark-on-light-opaque);
    --color-line-emphasis-opaque:         var(--color-line-dark-on-light-emphasis-opaque);
    --color-line-deemphasis-opaque:       var(--color-line-dark-on-light-deemphasis-opaque);


    --color-bg-button:                    var(--color-bg-accent-on-light);
    --color-bg-button-hover:              var(--color-bg-accent-on-light-highlight);
    --color-text-button:                  hsla(var(--color-hsl-white) / 95%);



    --color-bg-form-field:                var(--color-bg-light-highlight);
    --color-text-form-field:              var(--color-text-dark-on-light);
    --color-border-form-field:            var(--color-line-dark-on-light);
  }
}


@media (prefers-color-scheme: dark) {
  :root{

    --color-bg:                           var(--color-bg-dark);
    --color-bg-highlight:                 var(--color-bg-dark-highlight);
    --color-bg-accent:                    var(--color-bg-accent-on-dark);
    --color-bg-accent-highlight:          var(--color-bg-accent-on-dark-highlight);
    --color-bg-deemphasis:                var(--color-bg-dark-deemphasis);

    --color-bg-header:                    var(--color-bg-header-dark);
    --color-bg-nav-menu:                  var(--color-bg-nav-menu-dark);
    --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-dark-gradient-start);
    --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-dark-gradient-end);

    @supports (backdrop-filter: blur(1px)) {
      --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-dark-gradient-blur-start);
      --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-dark-gradient-blur-end);
    }
    

    --color-text:                         var(--color-text-light-on-dark);
    --color-text-highlight:               var(--color-text-light-on-dark-emphasis);
    --color-text-secondary-default:       var(--color-text-light-on-dark-deemphasis);
    --color-text-link:                    var(--color-text-link-on-dark);
    --color-text-accent:                  var(--color-text-accent-on-dark);


    --color-line:                         var(--color-line-light-on-dark);
    --color-line-emphasis:                var(--color-line-light-on-dark-emphasis);
    --color-line-deemphasis:              var(--color-line-light-on-dark-deemphasis);
    --color-line-accent:                  var(--color-line-accent-on-dark);


    --color-line-opaque:                  var(--color-line-light-on-dark-opaque);
    --color-line-emphasis-opaque:         var(--color-line-light-on-dark-emphasis-opaque);
    --color-line-deemphasis-opaque:       var(--color-line-light-on-dark-deemphasis-opaque);

  }
}

*/
@mixin variables-color-light-scheme {
  --color-bg:                           var(--color-bg-light);
  --color-bg-highlight:                 var(--color-bg-light-highlight);
  --color-bg-accent:                    var(--color-bg-accent-on-light);
  --color-bg-accent-highlight:          var(--color-bg-accent-on-light-highlight);
  --color-bg-deemphasis:                var(--color-bg-light-deemphasis);
  --color-bg-hover:                     var(--color-bg-hover-on-light);

  --color-bg-header:                    var(--color-bg-header-light);
  --color-bg-nav-menu:                  var(--color-bg-nav-menu-light);
  --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-light-gradient-start);
  --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-light-gradient-end);

  @supports ((backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px))) {
    --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-light-gradient-blur-start);
    --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-light-gradient-blur-end);
  }


  --color-text:                         var(--color-text-dark-on-light);
  --color-text-highlight:               var(--color-text-dark-on-light-emphasis);
  --color-text-deemphasis:              var(--color-text-dark-on-light-deemphasis);
  --color-text-link:                    var(--color-text-link-on-light);
  --color-text-accent:                  var(--color-text-accent-on-light);


  --color-line:                         var(--color-line-dark-on-light);
  --color-line-emphasis:                var(--color-line-dark-on-light-emphasis);
  --color-line-deemphasis:              var(--color-line-dark-on-light-deemphasis);


  --color-line-opaque:                  var(--color-line-dark-on-light-opaque);
  --color-line-emphasis-opaque:         var(--color-line-dark-on-light-emphasis-opaque);
  --color-line-deemphasis-opaque:       var(--color-line-dark-on-light-deemphasis-opaque);


  --color-bg-button:                    var(--color-bg-accent-on-light);
  --color-bg-button-hover:              var(--color-bg-accent-on-light-highlight);
  --color-text-button:                  hsla(var(--color-hsl-white) / 95%);



  --color-bg-form-field:                var(--color-bg-light-highlight);
  --color-text-form-field:              var(--color-text-dark-on-light);
  --color-border-form-field:            var(--color-line-dark-on-light);
  
}


@mixin variables-color-dark-scheme {

  --color-bg:                           var(--color-bg-dark);
  --color-bg-highlight:                 var(--color-bg-dark-highlight);
  --color-bg-accent:                    var(--color-bg-accent-on-dark);
  --color-bg-accent-highlight:          var(--color-bg-accent-on-dark-highlight);
  --color-bg-deemphasis:                var(--color-bg-dark-deemphasis);
  --color-bg-hover:                     var(--color-bg-hover-on-dark);

  --color-bg-header:                    var(--color-bg-header-dark);
  --color-bg-nav-menu:                  var(--color-bg-nav-menu-dark);
  --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-dark-gradient-start);
  --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-dark-gradient-end);

  @supports ((backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px))) {
    --color-bg-nav-menu-gradient-start:   var(--color-bg-nav-menu-dark-gradient-blur-start);
    --color-bg-nav-menu-gradient-end:     var(--color-bg-nav-menu-dark-gradient-blur-end);
  }
  

  --color-text:                         var(--color-text-light-on-dark);
  --color-text-highlight:               var(--color-text-light-on-dark-emphasis);
  --color-text-deemphasis:              var(--color-text-light-on-dark-deemphasis);
  --color-text-link:                    var(--color-text-link-on-dark);
  --color-text-accent:                  var(--color-text-accent-on-dark);


  --color-line:                         var(--color-line-light-on-dark);
  --color-line-emphasis:                var(--color-line-light-on-dark-emphasis);
  --color-line-deemphasis:              var(--color-line-light-on-dark-deemphasis);
  --color-line-accent:                  var(--color-line-accent-on-dark);


  --color-line-opaque:                  var(--color-line-light-on-dark-opaque);
  --color-line-emphasis-opaque:         var(--color-line-light-on-dark-emphasis-opaque);
  --color-line-deemphasis-opaque:       var(--color-line-light-on-dark-deemphasis-opaque);

}

[data-scheme-pref='light'] {
  @include variables-color-light-scheme;
}

[data-scheme-pref='dark'] {
  @include variables-color-dark-scheme;
}

[data-scheme-pref='auto'] {
  @media (prefers-color-scheme: light) {
    @include variables-color-light-scheme;
  }

  @media (prefers-color-scheme: dark) {
    @include variables-color-dark-scheme;
  }
}

:root {

  // ELEMENTS

  --color-bg-button:                  var(--color-bg-accent);
  --color-bg-button-hover:            var(--color-bg-accent-highlight);
  --color-text-button:                var(--color-text-light-on-dark-emphasis);

  --color-bg-form-field:              var(--color-bg-highlight);
  --color-text-form-field:            var(--color-text);
  --color-border-form-field:          var(--color-line);
}


/* Scratch pad

[data=light] {
  (Light mode vars)
}


[data=dark] {
  (Light mode vars)
}


*/