p,
li {
	max-width: 80ch;
}


.heading-eyebrow,
.heading-eyebrow h2,
.heading-eyebrow h3,
.heading-eyebrow h4,
.heading-metadata,
.heading-metadata h3{
	text-transform: uppercase;
	font-weight: bold;
}
