.et_pb_button,
body .et_pb_button:hover, /* Override */
.et_pb_button.et_pb_bg_layout_light,
body .et_pb_button.et_pb_bg_layout_light:hover /* Override */ {
  border: none;
  border-radius: var(--border-radius-button) !important; /* override */
  color: var(--color-text-button);
}

.et_pb_button,
.et_pb_button.et_pb_bg_layout_light {
  background-color: var(--color-bg-button);
}

body .et_pb_button:hover, /* Override */
body .et_pb_button.et_pb_bg_layout_light:hover /* Override */ {
  background-color: var(--color-bg-button-hover);

}