.et_pb_button,
.et_pb_button:hover,
.et_pb_button.et_pb_bg_layout_light,
.et_pb_button.et_pb_bg_layout_light:hover {
  background-color: var(--color-bg-button);
  border: none;
  border-radius: var(--border-radius-button);
  color: var(--color-text-button);
}