#main-footer {
	background-color: var(--color-bg-deemphasis); /* override */
  border-top: 1px solid var(--color-line-deemphasis);
}

#main-footer #et-footer-nav {
  background-color: transparent; /* override */
}

#main-footer ul::before {
	content: "Ivan W. Lam";
	display: inline-block;
	font-size: var(--font-size-paragraph);
	color: var(--color-text-deemphasis);
	font-weight: var(--font-weight-bold);
	padding-right: 1em;
	border-right: 2px solid var(--color-line-deemphasis);
	line-height: 1.5em;
	margin-right: 1em;
}

@media screen and (max-width: $breakpoint-desktop) {
  #main-footer ul.bottom-nav {
    padding: 1.5rem 0; /* override */
  }
}

#main-footer ul li {
	margin-bottom: 0; /* override */
}

#main-footer ul li a,
#main-footer ul.bottom-nav li.menu-item a,
#main-footer ul.bottom-nav li.current-menu-item a {
	color: var(--color-text-link); /* override */
  font-size: var(--font-size-paragraph);
}

#main-footer #footer-bottom {
  padding: 0; /* override */
  height: 0;
}

@media screen and (max-width: $breakpoint-desktop) {
  #main-footer .container {
    width: var(--width-content-tablet);
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  #main-footer ul::before {
    display: block;
    font-size: var(--font-size-super-paragraph);
    line-height: var(--line-height-super-paragraph);
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  #main-footer ul {
    text-align: left; /* override */
  }


}