body, body.custom-background {
  background-color: var(--color-bg) !important;
}



img, video {
	border-radius: var(--border-radius-small);
}

p {
  margin-bottom: 1em;
}

li {
  margin-bottom: 1em;
}

.page-title h1 {
  font-size: var(--font-size-super-heading);
}

.layout-widget-about h2 + p{
  font-size: var(--font-size-super-paragraph);
  line-height: var(--line-height-super-paragraph);
  margin-top: 2em;
  margin-bottom: 2em;
}

.et_pb_section {
  background-color: var(--color-bg);
}

.et_pb_divider {
  margin-bottom: 5rem !important; /* override */
}

/* Content Layout */

.page.et_pb_pagebuilder_layout #main-content {
  padding-bottom: 5rem;
  background-color: var(--color-bg);

  @media screen and (min-width: 1000px) {
    padding-bottom: 10rem;
  }
}

body .et_pb_section {
	padding-top: 0;
	padding-bottom: 0;
}

.section-hero {
  background-image: linear-gradient(180deg,
    hsl(119deg 61% 63%) 0%, 
    hsl(159deg 34% 46%) 33%, 
    hsl(202deg 44% 40%) 75%, 
    hsl(202deg 64% 40%) 100%) !important;
}

.layout-portfolio-body-row-1-1-1 > .et_pb_column {
  --column-margin-right: 5.5%; /* copied from existing */
}

@media (max-width: 1599px) { /* for 1600px screen width breakpoint */
	.layout-portfolio-body-row.layout-portfolio-body-row-1-1 {
		display: block; /* Override */
	}
	
	.layout-portfolio-body-row-1-1 > .et_pb_column {
		width: 100%; /* override */
	}

  .layout-portfolio-body-row-1-1 > .et_pb_column:last-of-type {
    margin-top: 2rem;
  }
}

@media (max-width: 1450px) { /* for 1440px screen width breakpoint */
	.layout-portfolio-body-row.layout-portfolio-body-row-2-3 {
		display: block; /* Override */
	}
	
	.layout-portfolio-body-row-2-3 > .et_pb_column {
		width: 100%; /* override */
	}

  .layout-portfolio-body-row-2-3 > .et_pb_column:last-of-type {
    margin-top: 2rem;
  }

  .layout-portfolio-body-row-1-1-1 {
    flex-wrap: wrap;
  }

  .layout-portfolio-body-row-1-1-1 > .et_pb_column {
    --column-count: 2;
    --flex-basis: calc((100% / var(--column-count)) - var(--column-margin-right));
    flex: 0 1 var(--flex-basis); /* */
    margin-bottom: 3rem;
  }
}

@media (max-width: 1200px) { /* for 1280px screen width breakpoint */
  .layout-portfolio-body-row-1-1-1 > .et_pb_column {
    --column-count: 1;
  }
}

/* Lines */
.et_pb_divider::before {
	border-top-color: var(--color-line) !important; /* override */ // TODO: Make colors based on variable */
}