img, video {
	border-radius: var(--border-radius-small);
}

p {
  margin-bottom: 2em;
}

.layout-widget-about h2 + p{
  font-size: var(--font-size-super-paragraph);
  line-height: var(--line-height-super-paragraph);
  margin-top: 2em;
  margin-bottom: 2em;
}

.et_pb_section {
  background-color: var(--color-bg-default);
}

/* Content Layout */

@media (max-width: 1599px) { /* for 1600px screen width breakpoint */
	.layout-portfolio-body-row.layout-portfolio-body-row-1-1 {
		display: block; /* Override */
	}
	
	.layout-portfolio-body-row-1-1 > .et_pb_column {
		width: 100%; /* override */
	}

  .layout-portfolio-body-row-1-1 > .et_pb_column:last-of-type {
    margin-top: 2rem;
  }
}

@media (max-width: 1450px) { /* for 1440px screen width breakpoint */
	.layout-portfolio-body-row.layout-portfolio-body-row-2-3 {
		display: block; /* Override */
	}
	
	.layout-portfolio-body-row-2-3 > .et_pb_column {
		width: 100%; /* override */
	}

  .layout-portfolio-body-row-2-3 > .et_pb_column:last-of-type {
    margin-top: 2rem;
  }
}

/* Lines */
.et_pb_divider_2::before, 
.et_pb_divider_0::before, 
.et_pb_divider_1::before {
	border-top-color: hsla(0, 0%, 0%, 25%) !important; /* override */ // TODO: Make colors based on variable */
}