:root {
  --height-header-desktop: 4rem;
  --height-header-mobile: 3rem;
  --height-header: var(--height-header-desktop);


  /* Move to general.scss */
  --width-content-mobile: 80vw;
  --width-content-tablet: 90vw;
  --width-content-desktop: 80vw; /* TODO: get real value */
  --width-content-desktop-wide: 1536px;

}

@media screen and (max-width:768px) {
  :root{
    --width-content: var(--width-content-mobile);
  }
}

@media screen and (min-width:768px) and (max-width:980px) {
  :root{
    --width-content: var(--width-content-tablet);
  }
}

@media screen and (min-width:980px) and (max-width:1920px) {
  :root{
    --width-content: var(--width-content-desktop);
  }
}

@media screen and (min-width:1920px) {
  :root{
    --width-content: var(--width-content-desktop-wide);
  }
}

@media screen and (max-width:980px) {
  :root {
    --height-header: var(--height-header-mobile);
  }
}

:root {
  --margin-content: calc((100vw - var(--width-content)) / 2); /* TODO: Make sure desktop content width works too */
}

/* TODO: Set --width-content depending on window width, then set --margin-content based on content width, then replace margin-right of "header nav:has(.nav-list.isOpen)"  */

.et_pb_section_0_tb_header {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.header-custom.et_pb_code.et_pb_module {
  margin-bottom: 0;
}


header .header-custom > .et_pb_code_inner {
  height: var(--height-header);
  
  transition-duration: 300ms; /* TODO: use variable */
  
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* TODO: use variable */
}

.breadcrumb {
  display: inline-block;
  line-height: var(--height-header);
}

.logo {
  display: inline-block;
}

.logo .logo-square {
  display: none;
}

.logo .logo-full {
  display: block;
}


.case-study-title {
  display: none;
  
  body.single-project.below-fold & {
    display: inline-block;
  }
}

.case-study-title::before {
  content: ">";
}

header nav {
  background-color: orange; /* debug */
  display: inline-block;
  line-height: var(--height-header);
  width: auto;
  position: relative;
  transition-duration: 300ms; /* TODO: Use variable */

  /* Flex parent */
  display: flex;
  justify-content: flex-end;
}


header nav button.button-menu {
  --size-button: 2rem;
  width: var(--size-button);
  height: var(--size-button);
  border: 0;
  position: absolute;
  top: calc((var(--height-header) - var(--size-button)) / 2);
}

header nav > button.button-menu {
  display: none;
}

/* Opened state */
header nav .nav-list.isOpen + button.button-menu {
  right: calc((var(--height-header) - var(--size-button)) / 2); 
}

header nav button.button-menu .icon-close {
  display: none;
}

header nav ul.isOpen+button.button-menu {
  & .icon-close {
    display: inline; /* temporary */
  }
  
  & .icon-hamburger {
    display: none;
  }
}

header nav ul.nav-list {
  display: inline-block;
  line-height: var(--height-header);
  display: flex;
}

header nav ul.nav-list > li {
  display: inline-block;
  padding: 0 1em;
  background-color: maroon;

}


/* Mobile/Tablet */
@media screen and (max-width: $breakpoint-desktop) {
  
  body.home.above-fold .logo,
  body.single-project .logo {
    & .logo-square {
      display: block;
    }

    & .logo-full {
      display: none;
    }
  }
  
  header nav:has(.nav-list.isOpen) {
    margin-right: calc(-1 * var(--margin-content));
  }
  
  header nav ul.nav-list {
    // display: none; /* Temp */
    background-color: blue;
    width: 20rem;
    height: 100vh;
    padding-top: var(--height-header);
    position: absolute;
    right: 0;
    transform: translateX(130%); /* 130% hard code to account for mobile/tablet margins */
    transition-duration: 300ms;
    flex-direction: column;
  }
  
  header nav ul.nav-list.isOpen {
    transform: translateX(0%);
  }
  
  header nav ul.nav-list > li {
    display: block;
    border-top: 1px solid gray; /* TODO: Use variables */
    background-color: green;
    padding: 0 1rem; /* TODO: Use variables */
  }
  
  header nav button.button-menu {
    display: inline-block;
  }
  

  /* Scheme Switcher */
  .scheme-component {
    width: auto;
    position: static;
  }
  
  .scheme-component:hover {
    transform: none;
  }
  
  .scheme-trigger {
    display: none;
  }
  
  .module-scheme-controls {
    position: relative;
    display: inline-flex;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }
    
  

}

@media screen and (max-width: 320px) {
  header nav ul.nav-list {
    width: 100%;
  }
}