.et_pb_section {
	// margin-top: 5rem;
	// margin-bottom: 5rem;
}

.et_pb_row {
	// margin-top: 5rem;
	// margin-bottom: 5rem;
}

.layout-portfolio-body-row-heading-main .et_pb_module p {
  /* Paragraph of high-level headings */
	font-size: var(--font-size-super-paragraph);
}

.layout-portfolio-body-row {
	display: flex;
	align-items: center;
}



/* Portfolio Stats */
.layout-portfolio-stats .et_pb_column {
	border: 1px solid black;
	padding: 2rem;
	border-radius: var(--border-radius-large);
}

.text-portfolio-stat-value p {
  font-size: var(--font-size-super-heading);
}


.text-portfolio-stat-value {
	font-size: 96px;
}

/* Sample Project Grid */

.et_pb_portfolio .et_pb_ajax_pagination_container {
  display: flex;
  column-gap: var(--spacing-extra-large);
}

.et_pb_portfolio .et_pb_ajax_pagination_container h3 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}