.et_pb_section {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.et_pb_row {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.layout-portfolio-stats .et_pb_column {
	border: 1px solid black;
	padding: 2rem;
	border-radius: 1rem;
}


.text-portfolio-stat-value {
	font-size: 96px;
}