.et_pb_row .et_pb_module .et_pb_row {
  // Rows of nested modules 
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.layout-body-row-super-blurb .et_pb_module p,
.layout-body-row-super-blurb .et_pb_module .et_pb_text_inner, 
.layout-portfolio-body-row-heading-main .et_pb_module p,
.layout-portfolio-body-row-heading-main .et_pb_module .et_pb_text_inner {
  /* Paragraph of high-level headings */
	font-size: var(--font-size-super-paragraph);
  line-height: var(--line-height-super-paragraph);
}

.layout-portfolio-body-row {
	display: flex;
	align-items: center;
}



/* Portfolio Stats */
.layout-portfolio-stats .et_pb_column {
	border: 1px solid black;
	padding: 2rem;
	border-radius: var(--border-radius-large);
}

.text-portfolio-stat-value p {
  font-size: var(--font-size-super-heading);
}


.text-portfolio-stat-value {
	font-size: 96px;
}

/* Sample Project Grid */

.et_pb_portfolio .et_pb_ajax_pagination_container {
  display: flex;
  column-gap: var(--spacing-extra-large);
}

.et_pb_portfolio .et_pb_ajax_pagination_container h3 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

/* Project List Grid */
.et_pb_portfolio_grid .et_pb_module_header {
	font-size: var(--font-size-super-paragraph) !important;
	line-height: var(--line-height-super-paragraph);
}


/* Images */

.layout-portfolio-body-row img,
.layout-portfolio-body-row video,
.et_pb_title_featured_container img {
  background: linear-gradient(180deg, hsl(119, 30%, 85%) 0%, hsl(202, 30%, 80%) 100%); // TODO: Make colors variables
  box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.1); // TODO: Make colors variable
}

.et_pb_image.et_pb_module,
.et_pb_code.et_pb_module {
  margin-bottom: 0.5rem;
}

/* Image Captions */
.et_pb_image.et_pb_module + .caption.et_pb_module .et_pb_text_inner,
.caption.et_pb_module .et_pb_text_inner {
	font-size: var(--font-size-sub-paragraph);
	font-style: italic;
	max-width: fit-content;
}