@import '__misc-foundation';

:root {
  // --multiplier-browser-offset: 1.5;

  /* Temporary */
  // --color-bg-hover-on-dark: hsla(0 0% 100% / 20%); /* TODO: Add to actual site */
  
  // --color-bg-hover-on-light: hsla(0 0% 0% / 15%);/* TODO: Add to actual site */
 
  // --color-bg-hover: var(--color-bg-hover-on-light); /* TODO: Add to actual site? */
  
  // --color-icon-control:   var(--color-text-dark-on-light);
  --color-icon-control:   var(--color-text);
  --color-icon-selected:  var(--color-text-light-on-dark-emphasis);
  
  /* TODO Add to site */
  --size-icon-scheme-trigger:     1.5rem;
  --size-icon-scheme-controls:    1.75rem;

  // --size-icon-scheme-trigger:     calc(var(--multiplier-browser-offset) * 1.5rem);
  // --size-icon-scheme-controls:     calc(1 * 1.75rem);


  --padding-icon-scheme-trigger:  calc(0.25 * var(--size-icon-scheme-trigger));
  --padding-icon-scheme-controls: calc(0.25 * var(--size-icon-scheme-controls));
  
  --size-target-icon-scheme-trigger: calc(var(--size-icon-scheme-trigger) + (2 * var(--padding-icon-scheme-trigger)));
  --size-target-icon-scheme-controls: calc(var(--size-icon-scheme-controls) + (2 * var(--padding-icon-scheme-controls)));


  // --size-target-icon-scheme-trigger: calc((var(--size-icon-scheme-trigger) + (2 * var(--padding-icon-scheme-trigger))));
  // --size-target-icon-scheme-controls: calc((var(--size-icon-scheme-controls) + (2 * var(--padding-icon-scheme-controls))));
  
  
  --duration-icon-scheme-on: 0.2s;
  --duration-icon-scheme-off: 0.1s;
}

[data-scheme-pref='light'] {
  --color-fg:                           var(--color-text-dark-on-light);
  --color-fg-emphasis:                  var(--color-fg);
  --color-bg:                           var(--color-bg-light);
  // --color-bg-hover:       var(--color-bg-hover-on-light);
  --color-line-selected-scheme-icon:  transparent;
}

[data-scheme-pref='dark'] {
  --color-fg:                           var(--color-text-light-on-dark);
  --color-fg-emphasis:                  var(--color-text-light-on-dark-emphasis);
  --color-bg:                           var(--color-bg-dark);
  // --color-bg-hover:       var(--color-bg-hover-on-dark);
  --color-line-selected-scheme-icon:    var(--color-line-emphasis);
}

[data-scheme-pref='auto'] {
  @media (prefers-color-scheme: light) {
    --color-fg:                         var(--color-text-dark-on-light);
    --color-fg-emphasis:                var(--color-fg);
    --color-bg:                         var(--color-bg-light);
    // --color-bg-hover:     var(--color-bg-hover-on-light);
    --color-line-selected-scheme-icon:  transparent;
  }
  
  @media (prefers-color-scheme: dark) {
    --color-fg:                         var(--color-text-light-on-dark);
    --color-fg-emphasis:                var(--color-text-light-on-dark-emphasis);
    --color-bg:                         var(--color-bg-dark);
    // --color-bg-hover:     var(--color-bg-hover-on-dark);
    --color-line-selected-scheme-icon:  var(--color-line-emphasis);
  }
}

body .header-sticky {
  z-index: 3; /* Have it show above content before sticking to top */
}

.scheme-component {
  background-color: red; /* Debug */
  background-color: transparent;
  display: inline-block;
  width: var(--size-target-icon-scheme-trigger);
  height: var(--size-target-icon-scheme-trigger);
  position: relative;

  --gap-between-trigger-and-module: 1rem;
}

.scheme-component-wrapper {
  position: absolute;
  // background-color: red;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.scheme-component:hover div.scheme-component-wrapper {
  width: 300%;
  height: calc(100% + (1.1 * var(--gap-between-trigger-and-module)));
  margin-left: 50%;
  transform: translateX(-50%);
}

.scheme-trigger {
  width: var(--size-target-icon-scheme-trigger);
  height: var(--size-target-icon-scheme-trigger);
  background-color: transparent;
  border-radius: var(--radius-round);
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding-icon-scheme-trigger);
  cursor: pointer;
  display: block;
  
}


.scheme-component:hover .scheme-trigger,
.scheme-component .scheme-trigger:focus-within{
  background-color: var(--color-bg-hover);  
}

svg.scheme-icon {
  background-color: transparent;
}


.scheme-trigger svg {
  position: absolute;
  opacity: 0;
  --color-icon-fill: var(--color-fg-emphasis);
  width: var(--size-icon-scheme-trigger);
  // width: calc(var(--multiplier-browser-offset) * var(--size-icon-scheme-trigger)); /* Browser offset, not sure why */
}

[data-scheme-pref='light'] .scheme-trigger svg.scheme-light,
[data-scheme-pref='auto'] .scheme-trigger svg.scheme-auto,
[data-scheme-pref='dark'] .scheme-trigger svg.scheme-dark{
  opacity: 1;
}


/*
.scheme-trigger svg.scheme-dark {
  --color-icon-fill: var(--color-icon-selected);
}

@media (prefers-color-scheme: dark) {
  [data-scheme-pref='auto'] .scheme-trigger svg.scheme-auto {
    --color-icon-fill: var(--color-icon-selected);
  }
}
*/


.module-scheme-controls {
  --padding-vertical: calc(0.375 * var(--size-icon-scheme-controls));
  --padding-horizontal: calc(0.75 * var(--size-icon-scheme-controls));
  --gap-between-targets: calc(0.5 * var(--size-icon-scheme-controls));
  --color-bg-module: var(--color-bg-highlight);
  --color-fg-module: var(--color-text);
  --color-icon-fill: var(--color-fg-module);
  
  background-color: var(--color-bg-module);
  padding: var(--padding-vertical) var(--padding-horizontal) 0.5em var(--padding-horizontal) !important; /* !important overrides Divi */;
  border-radius: var(--border-radius-container);
  display: none;
  gap: var(--gap-between-targets);
  color: var(--color-fg-module);
  // box-shadow: 0px 1px 4px hsla(0 0% 0% / 20%); /* TODO: Use preset shadow config */
  box-shadow: var(--shadow);
  position: relative;
  // transform: translateX(-50%);
  // left: 50%;
  // margin: 1rem 0 0 0;

  position: absolute;
  margin-top: var(--gap-between-trigger-and-module);
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  // display: inline-flex; /* Debug */
}


.scheme-component:hover .module-scheme-controls,
.scheme-component:focus-within .module-scheme-controls {
  display: inline-flex;
}

.module-scheme-controls li {
  list-style: none;
  display: inline-block;
  position: relative;
  width: var(--size-target-icon-scheme-controls);
  text-align: center;
  // background-color: var(--color-bg-light-highlight);
  background-color: var(--color-bg-highlight);
  margin-bottom: 0; /* override */
}

.module-scheme-controls li, 
.module-scheme-controls li * {
  cursor: pointer;
}

.module-scheme-controls li input[type=radio] {
  width: 110%;
  height: 110%;
  position: absolute;
  // top: -2px;
  // left: -2px;
  top: 0;
  left: -10%;
  transform: translate(-5%, -5%);
  appearance: none;
  display: inline-block;
  padding: 1rem;
}

.module-scheme-controls li input[type=radio]:focus-visible {
  outline: 2px auto lightblue;  /* lightblue = Fallback */
  outline-color: invert; /* Fallback */
  outline-color: currentColor;
}

.module-scheme-controls li label {
  // background-color: var(--color-bg-light-highlight);
  background-color: var(--color-bg-highlight);
}

.module-scheme-controls li button {
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
}

.module-scheme-controls li span.buttonBg {
  border-radius: var(--radius-round);
  display: inline-block;
  padding: var(--padding-icon-scheme-controls);
  // width: var(--size-icon-scheme-controls);
  // height: var(--size-icon-scheme-controls);
  width: var(--size-target-icon-scheme-controls);
  height: var(--size-target-icon-scheme-controls);
  transition-duration:  var(--duration-icon-scheme-off);
  background-color: var(--color-bg-hover);

  transform: scale(0);
  opacity: 0;
}

.module-scheme-controls li:hover input:not(:checked)+label span.buttonBg {
  transform: scale(1);
  opacity: 1;
}

.module-scheme-controls li input:checked+label span.buttonBg {
  background-color: var(--color-bg-dark);
  // fill: var(--text-light-on-dark);
  transform: scale(1);
  opacity: 1;
  transition-duration: var(--duration-icon-scheme-on);
  border: 2px solid var(--color-line-selected-scheme-icon);
}


.module-scheme-controls li svg {
  // --color-icon-fill: var(--color-text-dark-on-light);
  --color-icon-fill: var(--color-icon-control);
  width: var(--size-icon-scheme-controls);
  
  position: absolute;
  left: var(--padding-icon-scheme-controls);
  top: var(--padding-icon-scheme-controls);
}

.module-scheme-controls li svg.icon-on {
  opacity: 0;
}

.module-scheme-controls li svg,
.module-scheme-controls li svg * {
  transition-duration: var(--duration-icon-scheme-off);
}

.module-scheme-controls li input:checked+label svg {
  // --color-icon-fill: var(--color-text-light-on-dark);
  --color-icon-fill: var(--color-icon-selected);
  transition-duration: var(--duration-icon-scheme-on);
}

.module-scheme-controls li input:checked+label svg.icon-on {
  opacity: 1;
}
.module-scheme-controls li input:checked+label svg.icon-off {
  opacity: 0;
}

.scheme-trigger svg.scheme-dark,
.module-scheme-controls li input:checked+label svg.icon-on.scheme-dark{
  /* Glow around the moon against dark background */
  filter: drop-shadow(0px 0px 0.25rem var(--color-text-light-on-dark-emphasis));
}

.module-scheme-controls .label-control {
  display: inline-block;
  margin-top: 0.25em;
  max-width: 125%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "";
  opacity: 0;
  font-size: calc(0.6 * var(--size-icon-scheme-controls));
}

.module-scheme-controls li:hover .label-control {
  white-space: normal;
  overflow: visible;
  text-overflow: inherit;
}

.module-scheme-controls li input:checked+label .label-control {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-highlight);
}

.module-scheme-controls li input:checked+label .label-control,
.module-scheme-controls li:hover .label-control {
  // text-decoration: underline; // Not needed if not all labels are showing.
  opacity: 1;
}


/* SITE-SPECIFIC OVERRIDES */

@media screen and (max-width: $breakpoint-desktop) {
  .scheme-component {
    width: auto;
    position: static;
    height: unset;
  }
  
  .scheme-component:hover {
    transform: none;
  }

  .scheme-component-wrapper {
    position: unset;
  }
  
  .scheme-trigger {
    display: none;
  }
  
  .module-scheme-controls {
    position: relative;
    display: inline-flex;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }

  .module-scheme-controls,
  .module-scheme-controls li,
  .module-scheme-controls li label {
    background-color: transparent;
  }
  
}

/* DEBUG */

body .et_pb_row_1 {
  background-color: var(--color-bg);
  border-bottom: 1px solid black;
}

/* TODO: 
- 11/2/22: On load, the checked state is not reflected from CSS (even though HTML shows "checked" attribute.
- resizing window width removes the checked state
- 11/2/22: Finish migrating variables.
- 11/2/22: Fix colors (text, bg, etc.) by color mode (by consolidating variables)
- 11/2/22: On controls hover, the span.buttonBg don't show.
*/